[submodule "dependencies/sg13cmos5l_ocd_ip__analog_switches"]
	path = dependencies/sg13cmos5l_ocd_ip__analog_switches
	url = https://github.com/RTimothyEdwards/sg13cmos5l_ocd_ip__analog_switches
[submodule "dependencies/sg13cmos5l_ocd_ip__biasgen"]
	path = dependencies/sg13cmos5l_ocd_ip__biasgen
	url = https://github.com/RTimothyEdwards/sg13cmos5l_ocd_ip__biasgen
[submodule "dependencies/sg13cmos5l_ocd_ip__por"]
	path = dependencies/sg13cmos5l_ocd_ip__por
	url = https://github.com/RTimothyEdwards/sg13cmos5l_ocd_ip__por
