/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
a.out
archive/
librelane/housekeeping_top/runs
librelane/user_project_control/runs
magic/sg13cmos5l_io/
magic/sg13cmos5l_stdcell/
magic/sg13cmos5l_sram/
gds/chipalooza_frame_wrapper.gds.gz
gds/sg13cmos5l_ocd_chipalooza_fill_pattern.gds.gz
gds/sg13cmos5l_ocd_chipalooza.gds.gz
validate/sg13cmos5l_ocd_chipalooza.lyrdb
